version: '3.8'

services:
  app:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/minilibrary
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_MAIL_HOST=mailhog
      - SPRING_MAIL_PORT=1025
      - APP_JWT_SECRET=9a4f2c8d3b7a1e6f4g5h8i0j1k2l3m4n5o6p7q8r9s0t1u2v3w4x5y6z7a8b9c0d # Example secret
    restart: always

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025" # SMTP port
      - "8025:8025" # Web UI port
    restart: always

  db:
    image: postgres:16-alpine
    ports:
      - "5440:5432"
    environment:
      - POSTGRES_DB=minilibrary
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - app

volumes:
  postgres_data:
