version: '3.8'

services:
  app:
    build: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/minilibrary
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      # In prod, we prefer 'validate' or 'none', or using Flyway. keeping update for now as requested or 'none' implies manual migration.
      # User asked to separate config.
      - SPRING_JPA_HIBERNATE_DDL_AUTO=validate
      - SPRING_MAIL_HOST=mailhog
      - SPRING_MAIL_PORT=1025
      - SPRING_PROFILES_ACTIVE=prod
      # JWT Secret MUST be provided via env in prod
      - APP_JWT_SECRET=${APP_JWT_SECRET}
    restart: always

  # Mailhog might not be needed in prod in the same way, but keeping for parity if no external SMTP
  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: always

  db:
    image: postgres:16-alpine
    # Do not expose DB port to host in prod usually, but depends on setup. Keeping for consistency but maybe remove standard ports?
    # ports:
    #   - "5440:5432" 
    environment:
      - POSTGRES_DB=minilibrary
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - app

volumes:
  postgres_data:
