.homeContent {
    background-color: transparent;
    width: 100vw;
    min-height: calc(100vh - 80px);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    box-sizing: border-box;
}